h1, h2, h3{
  text-align: center;
  font-family: 'Arvo';
}
p
{
  text-align: center;
  font-family: 'Arvo';
  font-weight: 400;
}
.title{
  text-align: center;
}
body{
  padding: 150px;
}
div{
  text-align: center;
}
